user_uuid="154f4e38-a1ac-42da-9c20-ad7a5ccfcfe1"
bucket_name="8lm3jw7zxvidzsuw9azl55rfut1jp7rv"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1